extends layout

block content
  h1= title
  p Welcome to #{title}
  #banner.page-header
    .row
      .col-lg-6
        h1 SportsBar
          small &nbsp; Find a local sports clubs near you!
  .row
    .col-xs-12.col-sm-8
      p List area.
    .col-xs-12.col-sm-4
      p.lead SportsBar helps you find sports club near you.
  .row.list-group
    .col-xs-12.list-group-item
      h4
        a(href='/location') southwark RFC
        small &nbsp;
          small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty           
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 100m
         p.address 123 Street Street, London, SE15 2JU
         p
          span.label.label-warning high standard rugby 
          | &nbsp;
          span.label.label-warning Booze
          | &nbsp;
          span.label.label-warning Booze
          | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Love Sports....SportsBar helps you find a place to play you favourite sport......

